#contact-title {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;

    @media screen and (max-width: '480px') {
        font-size: 1.7em;
    }
}

#contact-image-holder {
    background-image: url('../../../src/images/contact.jpg');
    height: 50vh;
    width: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;


    @media screen and (min-width: '1080px') {
        height: 600px;
        max-width: 1440px;
    }
}

#bg-text {
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.7);
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    z-index: 2;
    width: 550px;
    padding: 20px;
    text-align: center;

    .highlight {
        font-size: 1.5rem;
    }
}